
@{
    ViewData["Title"] = "Evenementen";
}
<div class="pinkbg">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12 col-lg-12">
                <div style="width: 1152px; height: 329px; overflow: hidden">
                    <img src="~/images/Evenementen/EvenementenImg.png" alt="Evenementen foto" />
                </div>
            </div>
        </div>

        <div class="row">

        </div>
    </div>
    <div align="left">
        <h1>@Model[0].Content</h1>
    </div>
    <p>lalala</p>
    <p>lalala</p>
</div>

