
@{
    ViewData["Title"] = "Evenementen";

}

<div class="pinkbg">
    <div class="evenementen-header">
        <div class="row">
            <div class="col-xs-12 col-md-12 col-lg-12 header-image-wrapper">
                <img class="header-image" src="~/images/Evenementen/EvenementenImg.png" alt="Evenementen foto" />
            </div>
        </div>

        <div class="row">

        </div>
    </div>
    <div align="left">
        <h1>@Model.EvenementenPagina[0].Content</h1>
    </div>

    <div class="evenemten-list">
        @foreach (var evenement in Model.Evenementen)
        {

            @await Html.PartialAsync("_Evenement", (Evenementen)evenement);
        }
    </div>
</div>

