@model KeukenhofV2.Models.FeaturedContent
<div class="col-xs-12 col-md-3 col-lg-3">
    <img class="kleinefoto" src="@Model.Image" alt="@Model.Text" />
    <h5 class="kleinefototext"><a asp-controller="Bereikbaarheid" asp-action="Bereikbaarheid">@Model.Text</a></h5>
</div>
