@model List<ToegankelijkheidContent>
@{ 
    ViewData["Title"] = "Toegankelijkheid";
}

<!DOCTYPE html>
<html lang="nl-nl">
<head>
    <link rel="stylesheet" type="text/css" href="~/css/StyleSheet.css" />
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12 col-lg-12">
                <img class="hoofd-foto hoofdfoto" src="~/images/Toegankelijkheid/Bloemen.png" alt="Hoofdfoto" />
            </div>
        </div>
    </div>
</body>
</html>