/*Google Fonts*/

@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');


:root {
    /* main colors */
    --green: #00694C;
    --green-secundary: #2B7F68;
    --green-light: #CEDBD8;
    --green-background: #E1EBE9;
    --orange: #EA6025;
    --orange-dark: #CC4207;
    --orange-light: #FBDFD3;
    --black: #1F2325;
    --grey-dark: #36454E;
    --grey-light: #808E96;
    /* icons*/
    --chevron-down: url(../images/Icons/Essentials/chevron-down.png);
    --chevron-up: url(../images/Icons/Essentials/chevron-up.png);
}

body {
    font-family: "Helvetica Neue,Helvetica,Arial,sans-serif";
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #FFFFFF;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    left: 0;
    top: 0;
}
/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

/* main elements */
html, body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", "Verdana", "Tahoma", sans-serif;
    overflow-x: hidden;
}

img {
    position: center;
    /*mix-blend-mode: darken;*/
    display: block;
}

/*Home*/

.cover {
    background-image: url(../images/P01Home/cover1.png);
    width: 100%;
    height: 628px;
    left: 0;
    top: 0;
}

    .cover .textbox {
        cursor: pointer;
    }

.cover-img {
    float: left;
    margin-left: 15%;
}

.cover-text {
    color: white;
    padding-top: 35%;
    padding-left: 3%;
    font-size: 52px;
    line-height: 56px;
    float: left;
}

.textbox {
    text-align: left;
    position: relative;
    display: inline-block;
    margin-left: 0;
    padding: 16px;
}

    .textbox.white {
        color: black;
        background: white;
    }

    .textbox.orange {
        color: white;
        background: orange;
    }


#left {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#right {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

h4.orange, label + .textbox orange {
    color: white;
}

h4.white, label.white {
    color: var(--black);
}

label.textbox.orange {
    color: red;
}

.icon-white {
    -webkit-filter: grayscale(1) invert(1);
    filter: grayscale(1) invert(1);
}

.icon-black {
    filter: black;
}

.icon-orange {
    filter: orange;
}

/*Header*/


header .nav-container, header #actions-container {
    display: block;
    width: auto;
    margin: auto;
    max-width: 1152px;
    position: relative;
}


header nav {
    position: static;
    width: auto;
}

.clear-both {
    clear: both;
}

.navbar {
    background: white;
    border-color: white;
    color: var(--grey-dark);
    text-align: left;
    z-index: 0;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 5px;
}

.nav-link-item {
    /* Label */
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 120%;
    /* or 19px */
    /* Dark Grey */
    color: #36454E;
}

.nav-list-item {
    padding-top: 5px;
    padding-bottom: 5px;
}

.pointer {
    margin-top: 15px;
}

    .pointer:hover {
        background: #a4a9fd;
    }

.header-keukenhof-logo {
    margin: 20px;
}

.navbar-header-items {
    padding-top: 20px;
}

.header-p-mobile-menu, .header-p-mobile-close {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 800;
    font-size: 12px;
    line-height: 21px;
    color: #36454E;
}

.mobile-menu-button {
    margin-top: 35px;
}

    .mobile-menu-button:hover {
        border: 1px solid #000;
        background: #ffacac;
    }

.mobile-close-button {
    margin-top: 35px;
}

.mobile-input-search-field {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
    color: #808E96;
    border-style: solid;
    border-width: 1px;
    width: 80%;
    padding-inline-start: 15px;
    padding-block-start: 10px;
}

.mobile-sub-menu-header {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 21px;
    line-height: 24px;
    color: #00694C;
}

.mobile-sub-menu-li {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    border-bottom: 1px solid black;
    padding: 12px;
}

.mobile-sub-menu-arrow-right {
    display: inline;
    float: right;
    width: 10%;
    margin-top: -3px;
}

/*header Search dialog box*/

.search-dialog {
    background: #FFFFFF;
    border-radius: 4px;
    padding: 10px;
}

.search-dialog-search-label {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 120%;
    /* or 19px */
    display: flex;
    align-items: center;
    text-align: right;
    /* White */
    color: #FFFFFF;
    cursor: pointer;
}

.search-dialog-cancel-label {
    /* Label */
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 120%;
    /* or 19px */
    display: flex;
    align-items: center;
    text-align: right;
    /* Dark Grey */
    color: #36454E;
    cursor: pointer;
}

.search-dialog-search-button {
    /* Orange default */
    background: #EA6025;
    border-radius: 27px;
    padding-inline-start: 20px;
    padding-inline-end: 15px;
    padding-block-start: 5px;
    margin-left: 45px;
    margin-top: 10px;
    margin-right: -40px;
}

.search-dialog-cancel-button {
    background: #FFFFFF;
    /* Orange default */
    border: 1.5px solid #EA6025;
    box-sizing: border-box;
    border-radius: 27px;
    padding-inline-start: 20px;
    padding-inline-end: 15px;
    padding-block-start: 5px;
}

.search-dialog-search-icon {
    padding-inline-end: 5px;
    cursor: pointer;
}

.search-dialog-cancel-icon {
    padding-inline-end: 5px;
}

.search-dialog-cancel-label {
    display: inline-flex;
    background: #FFFFFF;
    /* Orange default */
    box-sizing: border-box;
    border-radius: 27px;
}


.search-dialog-input {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    color: #808E96;
    width: 60%;
    margin-left: 5%;
    padding-bottom: 15px;
}

.search-dialog-form {
    border: solid lightgray;
}

.search-dialog-button {
    border: 1px solid #000;
    background: #ff9999;
    margin: 5px;
}

    .search-dialog-button:hover {
        border: 1px solid #000;
        background: #ffacac;
    }


#overlay {
    background: rgba(0,0,0,0.3);
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99998;
    pointer-events: none
}

.expose {
    background-color: white;
    position: relative;
}

/*Footer*/
footer {
    position: relative;
    background: var(--white);
}

.footer-logo-keukenhof {
    display: initial;
    margin-top: 20px;
}

.footer-social-icons {
    margin-top: 112px;
}

.centered {
    margin: auto;
    margin-top: 20%;
}

hr {
    width: 100%;
    border: 1px solid var(--green-light);
}

h1, h2, h3, h4, h5, h6, p, label, caption {
    display: flex;
    align-items: center;
}

p, a, label, caption {
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
}

.footer-li {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    /* or 156% */
    /* Black */
    color: #1F2325;
    border-radius: 4px;
}

.footer-h5 {
    /* H5 */
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    /* identical to box height, or 140% */
    /* Dark Grey */
    color: #36454E;
    border-radius: 4px;
}

.footer-p5 {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    /* or 156% */
    /* Dark Grey */
    color: #36454E;
}
/* headings */
h1, h2, h3, h4, h5, h6 {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
}




/* desktop */

h1 {
    font-size: 52px;
    line-height: 56px;
}

h2 {
    font-size: 40px;
    line-height: 40px;
}

h3 {
    font-size: 32px;
    line-height: 31px;
}

h4 {
    font-size: 24px;
    line-height: 32px;
}

h5 {
    font-size: 20px;
    line-height: 28px;
    border-radius: 4px;
}

p {
    font-size: 18px;
    line-height: 28px;
    color: var(--grey-dark);
}

small {
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: var(--grey-dark);
}

label {
    font-family: Avenir;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 120%;
}

caption {
    font-family: Avenir;
    font-style: normal;
    font-weight: 800;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: var(--grey-dark);
}

a {
    font-family: Avenir;
    font-size: 18px;
    line-height: 28px;
}

    a:hover {
        font-family: Avenir;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 28px;
    }



/* icons */

.arrow-left {
    width: 15px;
    height: 14px;
    background-image: url('../images/Icons/Essentials/arrow-left.png');
}

.arrow-right {
    width: 25px;
    height: 20px;
    position: absolute;
    right: 10%;
    background-image: url('../images/Icons/Essentials/arrow-right.png');
}

.arrow-up {
    width: 15px;
    height: 14px;
    background-image: url('../images/Icons/Essentials/arrow-up.png');
}

.arrow-down {
    width: 15px;
    height: 14px;
    background-image: url('../images/Icons/Essentials/arrow-down.png');
}

.chevron-left {
    list-style-image: url('../images/Icons/Essentials/chevron-left.png');
}

.chevron-right {
    list-style-image: url('../images/Icons/Essentials/chevron-right.png');
}

.chevron-up {
    list-style-image: url('../images/Icons/Essentials/chevron-up.png');
}

.chevron-down {
    list-style-image: url('../images/Icons/Essentials/chevron-down.png');
}



.container-img-2 {
    float: left;
    width: 50%;
    padding: 5px;
}

.container-img-3 {
    float: left;
    width: 33.33%;
    padding: 5px;
}

.container-img-4 {
    float: left;
    width: 25%;
    padding: 5px;
}

/* colors */
/*.color {
    border: 4px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
    border-radius: 2px;
}*/

/*.green {
    background: var(--green);
}*/

.green-secundary {
    background: var(--green-secundary);
}

.green-light {
    background: var(--green-light);
}

.green-background {
    background: var(--green-background);
}

#orange {
    background-color: var(--orange);
    color: white;
}

.orange-dark {
    background: var(--orange-dark);
}

.orange-light {
    background: var(--orange-light);
}

.black {
    background: var(--black);
}

.Grey-dark {
    background: var(--grey-dark);
}

.Grey-light {
    background: var(--green-light);
}

#white {
    background-color: var(--white);
    color: var(--black);
}

textarea, textarea:focus, input, input:focus {
    border-width: 0;
    outline-width: 0;
}

/* Blocks and Buttons*/

.button {
    padding: 15px;
    border-radius: 27px;
    background: #FFFFFF;
    cursor: pointer;
}

    .button.orange {
        border: 1.5px solid var(--orange);
    }

    .button.green {
        border: 1.5px solid var(--green);
    }

#wrap {
    display: flex;
}

#box {
    border: 1px solid #c3c3c3;
    display: flex;
    flex-direction: row;
}

    #box div {
        width: 50px;
        height: 50px;
        border: 1px solid red;
    }

.plate {
    background: var(--green-secundary);
    width: 40px;
    height: 40px;
    margin: auto;
    text-align: center;
    border-radius: 50%;
    display: inline-block;
}

.rectangle {
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    display: inline-block;
    padding-left: 32px;
    text-align: left;
}

.round { /* rounds the border */
    border-radius: 27px;
}


.default {
    cursor: default;
}



/* featured */

.feature {
    position: absolute;
    margin: 4px auto;
}

    .feature .rectangle::before {
        float: right;
        content: url(../images/Icons/Essentials/arrow-right.png);
    }

    .feature .rectangle {
        border-radius: 4px;
        background: white;
        color: var(--black);
    }

        .feature .rectangle:hover {
            background: var(--orange);
            color: white;
            cursor: pointer;
        }

/* news */

.news {
    position: absolute;
    text-align: left;
    width: 120px;
    display: grid;
    background: white;
}

    .news img {
        width: 250px;
        height: 175px;
    }

    .news small {
        position: absolute;
        margin: 10px;
        padding: 5px;
        background: white;
    }

    .news label {
        color: #808E96;
    }

    .news .text {
        text-align: left;
        background: white;
        margin-left: 0;
        padding: 16px;
    }

/* map */

.map {
    position: absolute;
    width: 528px;
    height: 352px;
    background: url(../images/P01Home/Map.png);
}

    .map img {
        float: left;
    }

        .map img:hover {
            opacity: 0.8;
        }

.map-text {
    display: contents;
}

    .map-text p {
        display: inherit;
    }

    .map-text .button {
        display: inherit;
    }

.download-btn {
    position: absolute;
    padding: 10px;
    background: white;
    border-radius: 27px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

    .download-btn label::before {
        content: url(../images/Icons/Misc/Download.png);
    }

    .download-btn:hover {
        cursor: pointer;
    }

    .download-btn label {
        cursor: pointer;
    }


.accordion {
    width: 100%;
    margin: 0 auto;
    background: white;
    border-radius: 4px;
}

    .accordion div {
        height: 200px;
        padding: 10px;
        display: none;
    }

    .accordion h5 {
        text-align: left;
        margin-top: 5px;
        margin-bottom: 5px;
        padding-left: 20px;
        padding-top: 24px;
        padding-bottom: 24px;
    }

        .accordion h5:after {
            margin-top: 10px;
            margin-left: auto;
            content: var(--chevron-down);
        }

        .accordion h5:hover {
            cursor: pointer;
            background-color: gray;
        }
/*Evenementen*/

.pinkbg {
    background-color: #FBDFD3;
}

.linkbutton {
    position: absolute;
    border: 1px solid var(--orange);
    text-align: right;
    margin-top: 10%;
    margin-left: 10px;
    border-radius: 27px;
    display: inline;
    cursor: pointer;
}

.evenement-list {
    background: #FBDFD3;
}

.evenement-item {
    width: 200px;
    height: 300px;
    background: #FFFFFF;
    float: left;
    margin: 16px;
    border-radius: 4px;
}

.evenementen-header .header-image {
    width: 100%;
   max-height: 329px;
}

.evenementen-header .header-image-wrapper {
    height: 330px;
    overflow: hidden;
}

.evenemten-list:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
}

.evenement-item h1 {
    font-size: 14px;
}

.evenement-item img {
    width: 100%;
}/* alinea */

.alinea {
    margin: 0 auto;
}

    .alinea p, h1, button {
        margin-left: 50px;
    }

    .alinea p {
        color: var(--grey-dark);
        padding-bottom: 10px;
    }

/*Zoekresultaten*/

.zoekresultaten-container {
    background: var(--green-light);
    width: 100%;
    height: 90%;
}

.zoekresultaten-header-text {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 52px;
    line-height: 56px;
    color: #1F2325;
    padding-left: 10%;
    margin-bottom: 3%;
    margin-top: 4%;
}

.zoekresultaten-aantal-p {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 120%;
    text-align: right;
    color: #36454E;
    margin-top: 30%;
    margin-left: 5%;
}


.zoekresultaten-row-content-p {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height, or 157% */
    /* Dark Grey */
    color: #36454E;
}


.zoekresultaten-row-location-p {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height, or 157% */
    /* Green Secundary */
    color: #2B7F68;
    font-family: Source Sans Pro;
}

.zoekresultaten-top-content {
    margin-top: 30px;
}

.zoekresultaten-row-background {
    width: 85%;
    margin-left: 7.5%;
    background: white;
    border-radius: 4px;
}

.zoekresultaten-zoek-row{
    margin-bottom: 2%;
    padding-left: 1%;
}

.zoekresultaten-row-bottom {
    margin-bottom: 1.75%;
    margin-top: 0.75%;
}

.zoekreultaten-row-slash-p {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height, or 157% */
    /* Green Light */
    color: #CEDBD8;
}

.zoekresultaten-row-header-h4 {
    margin-top: 6%;
}

.zoekresultaten-zoek-input {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    color: #36454E;
    width: 60%;
    margin-left: 2%;
    padding-bottom: 3%;
    padding-top: 2%;
}

.zoekresultaten-search-button {
    padding-inline-start: 20px;
    padding-inline-end: 20px;
    padding-block-start: 5px;
    background: #FFFFFF;
    border: 1.5px solid #00694C;
    box-sizing: border-box;
    border-radius: 27px;
    padding-block-end: 5px;
    margin-left:20%;
    margin-top: 2%;
}

.zoekresultaten-search-label {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 120%;
    display: flex;
    align-items: center;
    text-align: right;
    color: #36454E;
    margin-top: 3px;
    cursor: pointer;
}

.zoekresultaten-pagination-bg {
    background: #FFFFFF;
    /* Green Light */
    border: 1px solid #CEDBD8;
    box-sizing: border-box;
    padding-inline-start: 15px;
    padding-inline-end: 15px;
    padding-block-start: 8px;
    padding-block-end: 8px;
    cursor: pointer;
}

.zoekresultaten-pagination-labels {
    margin-left: 45%;
    margin-top: 3%;
    margin-bottom: 2%;
    cursor: pointer;
}

.zoekresultaten-pagination-deselected {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 120%;
    /* or 19px */
    display: flex;
    align-items: center;
    text-align: center;
    /* Green Background */
    color: #E1EBE9;
    cursor: pointer;
}

.zoekresultaten-pagination-selected {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 120%;
    /* or 19px */
    display: flex;
    align-items: center;
    text-align: center;
    /* Green Default */
    color: #00694C;
    cursor: pointer;
}
.mobile-pagination {
    margin-left: 18%;
    margin-top: 8%;
    margin-bottom: 8%;
}
}

.zoekresultaten-row-background h5 {
    text-align: left;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 20px;
    padding-top: 24px;
    padding-bottom: 24px;
}

        .zoekresultaten-row-background h5:after {
            margin-top: 10px;
            margin-left: auto;
            content: var(--chevron-down);
        }

        .zoekresultaten-row-background h5:hover {
            cursor: pointer;
            background-color: gray;
        }


.custom-col-home{
    width: 5%;
}

.custom-col-slash{
    width: 1%;
}

.custom-col-location{
    width: 16%;
}

.zoekresultaten-row-arrow-right{
    float:right;

}
/*Media queries*/
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 736px) {
    /* Styles */
    .zoekresultaten-header-text {
        display:none;
    }

    .zoekresultaten-aantal-p {
        margin-top: 10%;
    }

    .zoekresultaten-row-background{
        padding-bottom: 8%;
    }
    .footer-social-icons {
        margin: 10px;
        padding:10px;

    }

    .footer-logo-keukenhof{
        margin: 15px;
    }
    /* Smartphones (landscape) ----------- */
    @media only screen and (min-width : 321px) {
        /* Styles */
    }

/* Smartphones (portrait) ----------- */
@media only screen and (min-width : 400px) {
    .zoekresultaten-search-button {
        margin-left: 0%;
    }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    /* Styles */
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    /* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    /* Styles */
}

/* Desktops and laptops ----------- */
@media and (min-width : 1070px) {
    .zoekresultaten-zoek-input {
        padding-bottom: 2%;
    }

    .zoekresultaten-search-button{
        margin-left: 20%;
    }
}
