
@{
    ViewData["Title"] = "Zoekresultaten";
    string trefwoord = (string)ViewData["trefwoord"];
}

<div class="search-bar">
    <input class="green" id="search" type="text" value="@trefwoord" />
    <input type="submit" value="zoeken" class="button orange" />
</div>
<h1>Zoekresultaten</h1>